# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/
lib/
lib64/
parts/
var/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# If using Celery
celerybeat-schedule

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# pyenv
.python-version

# pip
pip-log.txt

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Logs
*.log

# Others
*.swp
*.bak
